/* NAVBAR STUFF */
.icon {
  width: 70px;
  height: 70px;
}

.navbar-text {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff !important;
  text-align: center;
}

.nav-link {
  color: yellow !important;
}

a:hover { 
  background-color: rosybrown;
}


/* HEADER STUFF */
.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("http://www.miamivideoproductionhq.com/wp-content/uploads/2013/06/Finalvideographer.png");
  word-wrap: break-word;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}

.title-container__title {
  word-wrap: break-word;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* FOOTER STUFF */

.footer {
  height: 100px;
}

.footer,
.push {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px; 
  line-height: 50px; 
  background-color: #f5f5f5;
}

#bottom-margin{
  margin-bottom: 50px;
}

